  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* Remove default margin and padding from body */
body {
  margin: 0;
  padding: 0;
}

/* .app centerd horizontally */
.app {
  margin: auto;
}



